@import "styles/utils";

.container {
  padding: 0 24px;

  @include media(">tablet") {
    max-width: 689px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  @include media(">desktop") {
    max-width: 1110px;
  }
}
